spring:
  application:
    name: clinic-backend

  datasource:
    url: jdbc:mysql://localhost:3306/clinic_db
    username: root
    password: Sonu@#123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      data-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  sql:
    init:
      mode: always
server:
  port: 8080
  servlet:
    context-path: /path

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000